.ul{
    grid-area: leftSide;
    text-align: center;
    color:white;
    background-color: rgb(163, 163, 163);
    opacity: 0.5;
}
.ul li{}
.ul a{
    color: inherit;
    text-decoration: none;
    transform: none;
}
.ul a:hover{
    transform: scale(1.05);
}

/* .leftSide { grid-area: leftSide;} */